body{
    background-color: deepskyblue;
}

.mapdiv{
    width:100%;
    margin: auto;
}

.mapdiv path {
    fill: #EEEEEE;
    stroke: #ff00ff;
    stroke-width:2px;
    transition: fill 0.3s;
}

.mapdiv:hover path{
    fill:#000000;
}

.mapdiv path:hover {
    fill:#0000FF;
}